<template>
  <div v-if="form && form.errors && form.errors.hasErrors()">
    <div class="alert alert-danger">
      <i class="fa fa-fw fa-btn fa-warning"></i><strong>Whoops!</strong> There were some problems with your input.
    </div>
  </div>
</template>
<script type="text/babel">
  export default {
    name: 'ml-error-alert',
    props: ['form']
  }
</script>
