<template>
  <div class="SignaturePad__Wrapper clearfix">
    <label>Your signature</label>
    <canvas id="signaturePad" class="SignaturePad__Canvas"></canvas>
    <input type="hidden" name="signature" v-model="form.signature" required/>
  </div>
</template>
<style>

.SignaturePad__Wrapper .canvas-container {
  margin-bottom: 1em;
}

.SignaturePad__Canvas {
  width: 100%;
  height: 100px;
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.has-error .SignaturePad__Canvas {
    border-color: #a94442;
}


</style>
<script type="text/babel">

  import {fabric} from 'fabric/dist/fabric';
  const $ = require('jquery');

  export default{
    props: {
      form: {
        type: Object,
        required: true
      },
      reset: {
        type: Boolean,
        required: false
      }
    },
    data() {
      return {
        signatureCanvas: null
      }
    },
    created() {
      this.$root.$on('clear-signature', () => {
        this.clearSignature(this.form, this.signatureCanvas);
      });
    },
    mounted() {
      this.signatureCanvas = this.initSignatureCapture(this.form);
    },
    methods: {
      initSignatureCapture(form) {
        let wrapper = $('.SignaturePad__Wrapper');
        let width = wrapper.innerWidth();
        let height = 100;
        $('#signaturePad').attr('width', width).attr('height', height);

        var canvas = new fabric.Canvas('signaturePad', {
          isDrawingMode: true,
          allowTouchScrolling: false
        });
        canvas.freeDrawingBrush = new fabric['PencilBrush'](canvas);
        canvas.freeDrawingBrush.color = '#000000';
        canvas.freeDrawingBrush.width = 5;
        canvas.on('mouse:up', function (options) {
          form.signatureJSON = JSON.stringify(canvas);
          form.signature = canvas.toDataURL({});
        });
        if (form.signatureJSON) {
          canvas.loadFromJSON(form.signatureJSON);
          canvas.trigger('mouse:up');
        }
        return canvas;
      },
      clearSignature(form, signatureCanvas) {
        form.signature = null;
        form.signatureJSON = null;
        signatureCanvas.clear();
      }
    }
  }
</script>
