<template>
  <div v-if="event">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-fw fa-filter"></i> Filter Attendees</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p>
              <button type="button" @click="filter(-1)" class="btn btn-block" :class="signedIn == -1 ? 'btn-primary' : 'btn-default'">{{ allAttendees.length }} All</button>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>
              <button type="button" @click="filter(1)" class="btn btn-block" :class="signedIn == 1 ? 'btn-primary' : 'btn-default'" :disabled="registeredAttendees.length == 0">{{ registeredAttendees.length }} Registered</button>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>
              <button type="button" @click="filter(0)" class="btn btn-block" :class="signedIn == 0 ? 'btn-primary' : 'btn-default'" :disabled="unregisteredAttendees.length == 0">{{ unregisteredAttendees.length }} Unregistered</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-fw fa-users"></i> Attendees</div>
      <div class="panel-body">
        <div class="row" v-if="event.attendees.length">
          <div class="col-xs-12 col-sm-6 col-md-4 AttendeePanel__Container" v-for="(attendee, index) in orderBy(filteredAttendees, 'name')">
            <attendee-panel :attendee="attendee"></attendee-panel>
          </div>
        </div>
        <div v-else>
          <p class="alert alert-warning">No attendees</p>
        </div>
      </div>
      <div class="panel-footer">
        <router-link :to="{name: 'attendee.create', params: {eventId: event.id}}" class="btn btn-lg btn-block btn-primary">
          <i class="fa fa-fw fa-user-plus"></i> I'm not listed
        </router-link>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import {mapGetters, mapActions} from 'vuex';
  module.exports = {
    mixins: [require('../mixins/filters')],
    props: {
      event: {
        type: Object,
        required: true
      }
    },
    components: {
      'attendee-panel': require('./AttendeePanel.vue')
    },
    data() {
      return {
        signedIn: -1
      }
    },
    computed: {
      allAttendees() {
        return this.event.attendees;
      },
      registeredAttendees() {
        return this.event.attendees.filter(a => {
          return a.signed_at != null;
        });
      },
      unregisteredAttendees() {
        return this.event.attendees.filter(a => {
          return a.signed_at == null;
        });
      },
      filteredAttendees() {
        switch (this.signedIn) {
          case 0:
            // Not signed in
            return this.unregisteredAttendees;
          case 1:
            // Signed in
            return this.registeredAttendees;
          default:
            // All attendees
            return this.allAttendees;
        }
      }
    },
    methods: {
      filter(signedIn) {
        this.signedIn = signedIn;
      }
    }
  }
</script>
