<template>
  <div class="panel AttendeePanel" :class="attendee.signed_at ? 'panel-success' : 'panel-default'">
    <div class="panel-heading clearfix">
      <router-link :to="{name: 'attendee.edit', params: {eventId: attendee.event_id, attendeeGUID: attendee.guid}}" class="pull-right">
        <span v-if="attendee.signed_at"><i class="fa fa-fw fa-pencil"></i> Edit</span>
        <strong v-else><i class="fa fa-fw fa-user-plus"></i> Register</strong>
      </router-link>
      <h4 class="AttendeePanel__Name">{{attendee.salutation }} {{ attendee.name }}</h4>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled AttendeePanel__List">
        <li>
          <span><i class="fa fa-fw fa-envelope-o"></i> Email: {{ attendee.email }}</span>
        </li>
        <li>
          <span><i class="fa fa-fw fa-user-md"></i> Specialty: {{ capitalize(attendee.specialty) }}</span>
          <span v-if="attendee.specialty == 'Other'"> - <em>{{ attendee.specialty_other }}</em></span>
        </li>
        <li>
          <span><i class="fa fa-fw fa-building"></i> Hospital: {{ capitalizeWords(attendee.organization) }}</span>
          <span v-if="attendee.organization == 'Other'"> - <em>{{ attendee.organization_other }}</em></span>
        </li>
        <li>
          <span><i class="fa fa-fw fa-globe"></i> Country: {{ capitalize(attendee.country) }}</span>
          <span v-if="attendee.country == 'Other'"> - <em>{{ attendee.country_other }}</em></span>
        </li>
      </ul>
      <!--<pre>{{ attendee }}</pre>-->
    </div>
  </div>
</template>
<script type="text/babel">
  module.exports = {
    mixins: [require('../mixins/filters')],
    props: {
      attendee: {
        type: Object,
        required: true
      }
    }
  }
</script>
