<template>
  <div class="row">
    <div class="col-xs-12">
      <p>
        <router-link :exact="true" :to="{name: 'event.show', params: {eventId: event.id}}" class="btn btn-default"><i
          class="fa fa-arrow-left"></i> Back to Attendee List
        </router-link>
      </p>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><i class="fa fa-fw fa-user-md"></i> Edit {{attendee.salutation}} {{ attendee.name
          }}</h4></div>
        <div class="panel-body">
          <form @submit.prevent="update" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <ml-error-alert :form="form"></ml-error-alert>
            <div class="row">
              <div class="col-xs-12 col-md-2">
                <ml-select label="Salutation"
                           v-model="form.salutation"
                           :form="form"
                           initial="Select"
                           :items="salutations"
                           name="salutation">
                </ml-select>
              </div>

              <div class="col-xs-12 col-md-3">
                <ml-text label="First name"
                         v-model="form.first_name"
                         :form="form"
                         name="first_name">
                </ml-text>
              </div>

              <div class="col-xs-12 col-md-3">
                <ml-text label="Surname"
                         v-model="form.last_name"
                         :form="form"
                         name="last_name">
                </ml-text>
              </div>

              <div class="col-xs-12 col-md-4">
                <ml-text label="Email address"
                         v-model="form.email"
                         :form="form"
                         name="email">
                </ml-text>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-4">
                <ml-select label="Country"
                           v-model="form.country"
                           :form="form"
                           :items="countries"
                           name="country" @input="changeCountry">
                </ml-select>

                <ml-text v-if="form.country == 'Other'"
                         v-model="form.country_other"
                         :form="form"
                         name="country_other"
                         placeholder="Please specify">
                </ml-text>
              </div>

              <div class="col-xs-12 col-md-4">
                <ml-select label="Your Hospital/Institution"
                           v-model="form.organization"
                           :form="form"
                           :items="filteredOrganizations"
                           name="organization">
                </ml-select>

                <ml-text v-if="form.organization == 'Other' || form.country == 'Other'"
                         v-model="form.organization_other"
                         :form="form"
                         name="organization_other"
                         placeholder="Please specify">
                </ml-text>
              </div>

              <div class="col-xs-12 col-md-4">
                <ml-select label="Your Specialty"
                           v-model="form.specialty"
                           :form="form"
                           :items="specialties"
                           name="specialty">
                </ml-select>

                <ml-text v-if="form.specialty == 'Other'"
                         v-model="form.specialty_other"
                         :form="form"
                         name="specialty_other"
                         placeholder="Please specify">
                </ml-text>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <ml-signature :form="form"></ml-signature>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">
                <span v-if="form.busy">
                  <i class="fa fa-fw fa-spin fa-spinner"></i> Updating
                </span>
                <span v-else>
                  <i class="fa fa-fw fa-save"></i> Update
                </span>
              </button>
              <button type="button" @click.prevent="clearSignature" class="btn btn-default">Clear signature</button>
              <router-link :exact="true" :to="{name: 'event.show', params: {eventId: event.id}}" class="btn btn-link"><i
                class="fa fa-undo"></i> Cancel
              </router-link>
            </div>

            <!--<pre v-if="result">{{ result }}</pre>-->
            <!--<pre>{{ form }}</pre>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import {mapGetters, mapActions} from 'vuex';
  import * as types from '../vuex/mutation-types';
  import attendeeService from '../services/attendeeService';
  import eventService from '../services/eventService';
  import moment from 'moment';
  module.exports = {
    mixins: [
      require('../mixins/filters'),
      require('../mixins/validate-attendee')
    ],
    props: {
      event: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        result: null,
        form: new SparkForm({})
      }
    },
    computed: {
      ...mapGetters(['countries', 'events', 'organizations', 'salutations', 'specialties']),
      filteredOrganizations() {
        return this.organizations.filter(o => {
          return (o.code == 'Other' || o.country == this.form.country)
        });
      },
      attendeeGUID() {
        return this.$route.params.attendeeGUID;
      },
      attendee() {
        return _.find(this.event.attendees, a => {
          return a.guid == this.attendeeGUID;
        })
      },
      fullName() {
        return `${this.form.first_name} ${this.form.last_name}`;
      }
    },
    mounted() {
      let attendee = this.attendee;
      if (attendee) {
        this.form = new SparkForm(attendee);
        this.form.signature = null;
        this.form.signatureJSON = null;
        if (this.form.country == 'Other') {
          this.form.organization = 'Other';
        }
      }
    },
    methods: {
      clearSignature() {
        this.$root.emit('clear-signature');
      },
      changeCountry() {
        if (this.form.country == 'Other') {
          //console.log('changing organization to Other');
          this.form.organization = 'Other';
        } else {
          //console.log('watching form', this.form);
        }
      },
      getEvent(eventId) {
        return _.find(this.events, (event) => {
          return event.id == eventId;
        });
      },
      update() {
        let attendee = _.cloneDeep(this.form);
        attendee.name = this.fullName;
        let result = this.validateAttendee(attendee, this.event, this.attendee);
        this.result = result;
        let errors = {};
        if (result && result.error && _.isArray(result.error.details)) {
          let details = result.error.details;
          details.forEach(d => {
            errors[d.path] = [d.message];
          });
        }
        if (!_.isEmpty(errors)) {
          //console.log('Validation Errors', errors);
          this.form.busy = false;
          this.form.errors.set(errors);
          return;
        }
        this.form.startProcessing();
        //console.log('validation result', result);
        attendee.signed_here = true;
        attendee.signed_at = moment().unix();
        attendeeService.saveAttendee(this.event, attendee);
        this.$store.commit(types.SET_EVENTS, eventService.getEvents());
        this.form.busy = false;
        toastr.success(`${attendee.name} updated`);
        this.$router.push({name: 'event.show', params: {eventId: this.event.id}});
      }
    }
  }
</script>
