<template>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 EventPanel__Container" v-for="(event, index) in activeEvents">
      <event-panel :event="event"></event-panel>
    </div>
    <!--<div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>City</th>
          <th>Venue</th>
          <th>Country</th>
          <th>Date</th>
          <th>Registered attendees</th>
          <th>Total attendees</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="event in activeEvents">
          <td>{{ event.name }}</td>
          <td>{{ event.type }}</td>
          <td>{{ event.city }}</td>
          <td>{{ event.venue }}</td>
          <td>{{ event.country }}</td>
          <td>{{ event.start_date | date }}</td>
          <td>
            <span v-if="event.attendees.length">{{ countSignatures(event) }}</span>
            <span v-else>0</span>
          </td>
          <td>{{ event.attendees.length }}</td>
          <td>
            <router-link :to="{name: 'event.show', params: {eventId: event.id}}"
                         class="btn btn-default btn-block">
              <i class="fa fa-fw fa-check"></i> Take attendance
            </router-link>
            <button type="button" class="btn btn-block" @click="uploadEvent(event)" :disabled="!hasSignatures(event)" :class="hasSignatures(event) ? 'btn-success' : 'btn-default'">
            <span v-if="event.busy">
              <i class="fa fa-fw fa-spin fa-spinner"></i> Uploading
            </span>
              <span v-if="!event.busy">
              <i class="fa fa-fw fa-upload"></i> Upload Attendees
            </span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>-->
  </div>
</template>
<script type="text/babel">
  import {mapGetters, mapActions} from 'vuex';
  import eventService from '../services/eventService';
  module.exports = {
    components: {
      'event-panel': require('./EventPanel.vue')
    },
    data() {
      return {
        activeEvents: [],
      }
    },
    mounted() {
      this.activeEvents = this.getActiveEvents();
    },
    computed: {
      ...mapGetters(['events']),
    },
    methods: {
      getActiveEvents() {
        return _.forEach(eventService.getActiveEvents(), e => {
          e.busy = false;
        });
      }
    }
  }
</script>
