<template>
  <div class="container-fluid Screen-Container" v-if="event">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>{{ event.name }}</h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <p>
                  <strong><i class="fa fa-fw fa-calendar"></i> Date: </strong>
                  <span class="EventPanel__Detail">{{ event.start_date | date }}</span>
                </p>
              </div>
              <div class="col-xs-12">
                <p>
                  <strong><i class="fa fa-fw fa-building-o"></i> Venue: </strong>
                  <span class="EventPanel__Detail">{{ event.venue }}</span>
                </p>
              </div>
              <div class="col-xs-12">
                <p>
                  <strong><i class="fa fa-fw fa-map-marker"></i> Location: </strong>
                  <span class="EventPanel__Detail">{{ event.city }}, {{ event.country }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-view :event="event"></router-view>
  </div>
</template>
<script type="text/babel">
  import {mapGetters, mapActions} from 'vuex';
  import store from '../vuex/store';
  import eventService from '../services/eventService';
  module.exports = {
    components: {
      attendees: require('./Attendees.vue')
    },
    data() {
      return {
        event: null
      }
    },
    beforeRouteEnter(to, from, next) {
      console.log('beforeRouteEnter', to);
      let event = eventService.getEventByID(to.params.eventId);
      return next(vm => {
        vm.event = event;
      })
    }
  }
</script>
