<template>
  <div class="panel panel-default EventPanel">
    <div class="panel-heading">
      <h4>
        <span class="pull-right"><i class="fa fa-calendar"></i> {{ event.start_date | date }}</span>
        {{ event.name }}
      </h4>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled EventPanel__List">
        <li>
          <strong>Registered attendees: </strong>{{ countSignatures(event) }} / {{ event.attendees.length }}
        </li>
        <li>
          <strong>Type: </strong>{{ event.type }}
        </li>
        <li>
          <strong>Venue: </strong>{{ event.venue }}
        </li>
        <li>
          <strong>Location: </strong>{{ event.city }}, {{ event.country }}
        </li>
      </ul>
    </div>
    <div class="panel-footer EventPanel__Footer">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <p>
            <button type="button" class="btn btn-default btn-block" @click="takeAttendance(event)">
              <i class="fa fa-fw fa-btn fa-check"></i>Take attendance
            </button>
          </p>
        </div>
        <div class="col-xs-12 col-lg-6" v-if="hasSignatures(event)">
          <p>
            <button type="button" class="pull-right btn btn-success btn-block" @click="uploadEvent(event)">
            <span v-if="event.busy">
              <i class="fa fa-fw fa-btn fa-spin fa-spinner"></i>Uploading
            </span>
              <span v-if="!event.busy">
              <i class="fa fa-fw fa-btn fa-upload"></i>Upload signatures
            </span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import {mapGetters, mapActions} from 'vuex';
  import * as types from '../vuex/mutation-types';
  import eventService from '../services/eventService';

  export default {
    props: {
      event: {
        type: Object,
        required: true
      }
    },
    methods: {
      countSignatures(event) {
        return _.filter(event.attendees, a => {
          return a.signed_at != null;
        }).length;
      },
      hasSignatures(event) {
        return this.countSignatures(event) > 0;
      },
      takeAttendance(event) {
        eventService.makeEventCurrent(event);
        this.$router.push({name: 'event.show', params: {eventId: event.id}});
      },
      uploadEvent(event) {
        event.busy = true;
        console.log('uploadEvent', event);
        eventService.uploadEvent(event)
          .then(result => {
            console.log(`Result of eventService.uploadEvent() = `, result);
            event.busy = false;
          })
          .catch(err => {
            event.busy = false;
            toastr.error(err);
          })
      }
    }
  }
</script>
