<template>
  <div class="container-fluid">
    <h1>Home</h1>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p>
          <router-link :to="{name: 'settings'}" class="btn btn-primary btn-block"><i class="fa fa-fw fa-cog"></i> Settings</router-link>
        </p>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import eventService from '../services/eventService';
  module.exports = {
    mounted() {
      let event = eventService.getCurrentEvent();
      if (event) {
        this.$router.replace({name: 'event.show', params: {eventId: event.id}});
      } else {
        this.$router.replace({name: 'settings'});
      }
    }
  }
</script>
