<template>
  <nav class="navbar navbar-default Navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand Navbar__App" href="#" @click.prevent="">
          <img src="images/navbar_app_logo.png" class="Navbar__App-Logo"/>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav navbar-left">
          <router-link v-if="showingEvent" tag="li"
                       :to="{name: 'event.show', params: {eventId: $route.params.eventId}}"><a>Register</a>
          </router-link>
          <router-link tag="li" :to="{name: 'timeline'}"><a>
            <i class="fa fa-fw fa-btn fa-calendar"></i>Calendar
          </a></router-link>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <router-link tag="li" :to="{name: 'settings'}" class="">
            <a><i class="fa fa-fw fa-btn fa-cog"></i>Settings</a>
          </router-link>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script type="text/babel">
  export default {
    computed: {
      showingEvent() {
        if (this.$route.params.eventId) {
          return true;
        }
        return false;
      }
    }
  }
</script>
