<template>
  <div class="container-fluid Screen-Container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="PageTitle">Active Events</h1>
        <events></events>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-fw fa-cogs"></i> Administration</div>
          <div class="panel-body">
            <p class="alert alert-info">Database synchronized from Mobile Locker at <strong>{{ syncedAtDate | datetime }}</strong>.</p>
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3">
                <p>
                  <button type="button" class="btn btn-block btn-danger" @click="clearStorage"><i class="fa fa-trash-o"></i> Erase database</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import eventService from '../services/eventService';
  import moment from 'moment';

  module.exports = {
    components: {
      'events': require('./Events.vue')
    },
    computed: {
      syncedAt() {
        return eventService.getSyncedAt();
      },
      syncedAtDate() {
        return moment(this.syncedAt * 1000).toDate();
      }
    },
    methods: {
      clearStorage() {
        if (confirm('Are you sure you want to erase the database?')) {
          eventService.clearStorage();
          //this.$router.push({name: 'settings'});
          location.reload();
        }
      }
    }
  }
</script>
