<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <p class="pull-right">
          <button type="button" @click.prevent="toggleSort" class="btn btn-default">
            Sort: {{ sortDir }}
          </button>
        </p>
        <h1>Calendar of Events</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Professional Events</div>
          <div class="panel-body">
            <table class="table table-no-borders table-condensed">
              <tbody>
              <tr>
                <th>SM</th>
                <td>Speaker Meeting</td>
              </tr>
              <tr>
                <th>COE</th>
                <td>Centre of Excellence</td>
              </tr>
              <tr>
                <th>PE</th>
                <td>Proctor Event</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td></td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">External Events</div>
          <div class="panel-body">
            <table class="table table-no-borders table-condensed">
              <tbody>
              <tr>
                <th>SB</th>
                <td>Small Booth</td>
              </tr>
              <tr>
                <th>LB</th>
                <td>Large Booth</td>
              </tr>
              <tr>
                <th>FW</th>
                <td>Floor Walking</td>
              </tr>
              <tr>
                <th>L</th>
                <td>Lecure/Symposium/Speaker Dinner</td>
              </tr>
              <tr>
                <th>S</th>
                <td>Sponsor</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="timeline">
          <li v-for="event in filteredEvents" class="TimeEvent" :class="{'TimeEvent--Professional' : event.professional, 'TimeEvent--External timeline-inverted': !event.professional }">
            <div class="timeline-badge"><i class="fa fa-fw fa-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <div class="timeline-title">
                  <p class="TimeEvent__Date text-muted pull-right">
                    <i class="fa fa-fw fa-btn fa-calendar"></i>
                    <span class="TimeEvent__Start">{{ event.start_date | datetime('MMMM d, YYYY') }}</span>
                    <span v-if="event.end_date" class="TimeEvent__End"> - {{ event.end_date | datetime('MMMM d, YYYY') }}</span>
                  </p>
                  <h3>{{ event.name }}</h3>
                </div>
              </div>
              <div class="timeline-body">
                <ul class="list-unstyled TimeEvent__List">
                  <li><strong>Category:</strong> {{ event.category }}</li>
                  <li><strong>Type:</strong> {{ event.type }}</li>
                  <li><strong>Venue:</strong> {{ event.venue }}</li>
                  <li><strong>Location:</strong> {{ event.city }}, {{ event.country }}</li>
                  <li v-if="event.company_role"><strong>Key:</strong> {{ event.company_role }}</li>
                  <li v-if="event.focus"><strong>Focus:</strong> {{ event.focus }}</li>
                  <li v-if="event.url"><strong>Website:</strong> <a :href="event.url" target="_blank">{{ event.url }}</a></li>
                </ul>
              </div>
              <div class="TimeEvent__Footer" v-if="event.professional">
                <div v-if="event.active" class="TimeEvent">
                  <button type="button" @click.prevent="takeAttendance(event)" class="btn btn-block btn-primary btn-success">
                    <i class="fa fa-fw fa-btn fa-check"></i>Take attendance
                  </button>
                </div>
                <div v-if="!event.active">
                  <button type="button" class="btn btn-block btn-primary btn-success" disabled="disabled">
                    <i class="fa fa-fw fa-btn fa-lock"></i>Attendance Locked
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import {mapGetters, mapActions} from 'vuex';
  import _ from 'lodash';
  import eventService from '../services/eventService';
  export default {
    mixins: [require('../mixins/filters')],
    data() {
      return {
        orderDir: 'desc'
      }
    },
    computed: {
      ...mapGetters(['events']),
      sortDir() {
        return this.orderDir == 'desc' ? 'Descending' : 'Ascending';
      },
      filteredEvents() {
        return this.orderBy(this.events, 'date_name', this.orderDir);
      }
    },
    methods: {
      takeAttendance(event) {
        eventService.makeEventCurrent(event);
        this.$router.push({name: 'event.show', params: {eventId: event.id}});
      },
      toggleSort() {
        if (this.orderDir == 'desc') {
          this.orderDir = 'asc';
        } else {
          this.orderDir = 'desc';
        }
      }
    }
  }
</script>
