$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2)); // ~36px
$font-size-h2: floor(($font-size-base * 1.7)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.25)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.1)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
$purple: #7d4cb5;
$darkGray: #54585a;
$lightGray: #E7E8E9;

$navbar-default-color: $purple;
$navbar-default-brand-color: $navbar-default-color;
$navbar-default-link-color: $darkGray;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: $purple;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $purple;

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';
@import './components/navbar';
@import './timeline.scss';

.fa-btn {
  margin-right: 5px;
}

h1 {
  margin: 0;
}

.PageTitle {
  margin: 0 0 10px 0;
}

.AttendeePanel__Name {
  margin: 0;
}

.clear-left {
  clear: left;
}

.EventPanel__Container {
  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &:nth-child(2n+1) {
      clear: left;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}

.AttendeePanel__Container {
  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &:nth-child(2n+1) {
      clear: left;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}

.Panel--Flush {
  .panel-body {
    padding: 0;
  }
}

.Screen-Container {
  @media screen and (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.EventPanel, .AttendeePanel {
  .panel-heading,
  .panel-body {
    //padding: 10px 5px;
  }
}
.EventPanel__List,
.AttendeePanel__List {
  margin: 0;
}
.EventPanel__Detail {
  display: block;
  @media screen and (min-width: $screen-sm-min) {
    display: inline;
  }
}

.EventPanel__Footer {
  p {
    margin: 5px 0;
  }
}

.AttendeePanel {
  margin-bottom: 10px;
}
table.table-no-borders {
  tbody {
    th, td {
      border-top: none !important;
    }
  }
}
.TimeEvent {
  .timeline-title {
    h3 {
      margin-top: 0;
      //margin-bottom: 0;
    }
  }
}
.TimeEvent__Date {
  margin: 0 !important;
}
.TimeEvent__Footer {
  margin-top: 1em;
}
.TimeEvent--External {

}
.TimeEvent--Professional {

}
